#contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: var(--space-l);
  padding-bottom: 2rem;
}

#contact>* {
  flex: 1 1 27.915rem;
}

.contact-image {
  display: flex;
  justify-content: center;
}

.contact-image img {
  width: 50%;
  filter: drop-shadow(2px 2px 10px var(--primary));
}

.contact-form {
  display: flex;
  justify-content: center;
}

form {
  box-shadow: 2px 2px 10px #000, 2px 2px 20px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-s);
  padding-block: var(--space-s);
  border-radius: 20px;
  transition: var(--transition-short);
}

form:hover {
  box-shadow: 2px 2px 10px var(--primary), 2px 2px 20px var(--primary);
}

form input,
form textarea {
  font-size: var(--step--1);
  width: 80%;
  border: 2px solid var(--primary);
  border-radius: 20px;
  padding: 1em;
  outline: none;
}

@media (width > 62rem) and (width <=64rem) {
  #contact {
    min-height: 70vh;
  }
}